html {
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
h2, h1, h3, h4{
	text-align: center;
}

#popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	border: 1px solid black;
	padding: 10px;
  }
body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background: linear-gradient(189deg, white, #6b6767);
	background-attachment: fixed;
	font-family: sans-serif;
	font-weight: 100;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}
a {
	text-decoration: none;
}
.lyrics b:hover {
    background: #E5000F; /* Цвет фона под ссылкой */ 
    color: #ffe; /* Цвет ссылки */ 
} 
.high{
	color: #ffe;
	background-color: #000;
}
.lyrics{
	font-size: x-large;
	padding-top: 1%;
	padding-left: 25%;

}
.head_btns{
	padding: 4%;
	font-size: x-large;
}
.info {
	padding: 5%;
	font-size: xx-large;
}
.pick_body{
	background-image: url(../images/back7_t.png);
}
.rating_body{
	background-image: url(../images/back8_t.png);
}
.learn_body {
	background-image: url(../images/back6_t.png);
}
.login_body {
	background-image: url(../images/back1_t.png);
}
.dict_body {
	
	background-image: url(../images/back5_t.png);
}
.find_body {
	background-image: url(../images/back4_t.png);
}
.reg_body {
	background-image: url(../images/back2_t.png);
}
.profile_body {
	background-image: url(../images/back3_t.png);
}

table {
	counter-reset: section;
}

.count:before {
	counter-increment: section;
	content: counter(section);
}


.login, .register {
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 400px;
}

.login h1 {
	color: black;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	letter-spacing: 1px;
	text-align: center;
}

input {
	width: 100%;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.prof-info {
	border-color: #000;
	box-shadow: 0 0 5px 2px red;
}



.card {
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.7);
    max-width: 350px;
    margin: auto;
    text-align: center;
	opacity: 0.8;
}

.title {
    color: grey;
    font-size: 18px;
}

td{
	text-align: left;
}


a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.prof_table {
	font-size: 18px;
}


.t_info{
	text-align: center;
}

@keyframes fade {
	from {
	 opacity: 0;
	 }
	 to {
	  opacity: 0.8;
	 }
   }
   
   
.flash {
	border-radius: 280px/100px;
	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.7);
    max-width: 350px;
	min-height: 35px;
    margin: auto;
	font-size: large;
	background-color: #bb1c27;
    text-align: center;
	opacity: 0.8;
	margin-top: 11%;
	animation: fade 2s ease;
   }

.highlight {
	background-color: rgba(255, 192, 203, 0.5); /* Прозрачный розовый фон (альфа-канал 0.5) */
	color: #000000; /* Черный цвет текста */
  }
  .high{
	color: #ffe;
	background-color: #000;
}
