{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<body>
<div style="width: 51%; margin: auto;">
    <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Слово</th>
            <th scope="col">Перевод</th>
          </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <th scope="row">1</th>
                <td>{{word[0]}}</td>
                <td>{{word[1]}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
</body>
<a class="my-btn" href="/profile" role="button">Профиль</a>
<a class="my-btn" href="/study" role="button">Выучить новое</a>
<a class="my-btn" href="/rating" role="button">Рейтинг</a>
<hr>
{% endblock %}