{% extends 'base.html' %}

{% block content %}
{{ super() }}
<!-- {% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %} -->

<body class="profile_body">
    <div class="head_btns">
        <a class="my-btn" href="/profile" role="button">Профиль</a>
        <a class="my-btn" href="/dictionary" role="button">Мои слова</a>
        <a class="my-btn" href="/study" role="button">Выучить новое</a>
        <a class="my-btn" href="/rating" role="button">Рейтинг</a>

        <a class="my-btn" href="{{url_for('logout')}}" role="button" style="margin-left: 18%;">Выйти</a>
    </div>


    <div class="card">
        <img id="card-img" src="../static/images/profile_d.png" alt="John" style="width:100%">
        <h1>{{info['name']}}</h1>
        <p class="title">Пользователь</p>
        
        <table class="prof_table">
            <tr>
                <td>Возраст:</td>
                <td class="t_info"><b>{{info['age']}}</b></td>
            </tr>
            <tr>
                <td>email:</td>
                <td class="t_info"><b>{{info['email']}}</b></td>
            </tr>
            <tr>
                <td>Выучил слов:</td>
                <td class="t_info"><b>{{word_count}}</b></td>
            </tr>
            <tr>
                <td>Выучил песен:</td>
                <td class="t_info"><b>{{song_count}}</b></td>
            </tr>
            <tr>
                <td>С нами уже:</td>
                <td class="t_info"><b>{{age_since_redister}}</b></td>
            </tr>
        </table>

    </div>


   

</body>


{% endblock %}