{% extends 'base.html' %}

{% block content %}
{{ super() }}
<!-- {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %} -->

<body class="rating_body">
  <div class="head_btns">
    <a class="my-btn" href="/profile" role="button">Профиль</a>
    <a class="my-btn" href="/dictionary" role="button">Мои слова</a>
    <a class="my-btn" href="/study" role="button">Выучить новое</a>
    <a class="my-btn" href="/rating" role="button">Рейтинг</a>
    <a class="my-btn" href="{{url_for('logout')}}" role="button" style="margin-left: 18%;">Выйти</a>
</div>
<hr>
<h1><b>Лидеры по количеству выученного</b></h1>

<div style="width: 51%; margin: auto;">
    <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Кол-во слов</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="count"></th>
                <td>{{user['name']}}</td>
                <td>{{user['count']}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
</body>





{% endblock %}