{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<body class="">
  <div class="head_btns">
    <a class="my-btn" href="/dictionary" role="button">Мои слова</a>
    <a class="my-btn" href="/study" role="button">Выучить новое</a>
    <a class="my-btn" href="/train" role="button">Тренировка</a>
    <a class="my-btn" href="/rating" role="button">Рейтинг</a>

    <a class="my-btn" href="{{url_for('logout')}}" role="button" style="margin-left: 18%;">Выйти</a>
</div>
<div style="width: 51%; margin: auto;">
    <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">имя</th>
            <th scope="col">кол-во слов</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="count"></th>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
</body>





{% endblock %}