{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<div style="width: 51%; margin: auto;">
    <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">имя</th>
            <th scope="col">кол-во слов</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="count"></th>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
</div>

<a class="btn-danger" href="/profile" role="button">Профиль</a>
<a class="btn-danger" href="/study" role="button">Выучить новое</a>
<a class="btn-danger" href="/rating" role="button">Рейтинг</a>
<hr>



{% endblock %}