{% extends 'base.html' %}

{% block content %}
{{ super() }}

<body class="reg_body">
    <div class="register">
        <h1>Регистрация</h1>
        <form action="" method="post" class="form-contact">
            <label for="email"><b>Email</b></label>
            <input name="email" type="text" placeholder="Email" required="required" />

            <label for="name"><b>Имя</b></label>
            <input name="name" type="text" placeholder="Name" required="required" />

            <label for="age"><b>Возраст</b></label>
            <input type="text" placeholder="Enter Age" name="age" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw2"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw2" required>

            <button type="submit" class="my-btn" >Регистрация</button>
        </form>
    </div>
    <div style="position: absolute; top: 90%; left: 40%;">
        <b>Есть аккаунт?</b>
        <a class="my-btn" href="{{url_for('login')}}">Войти</a>
    </div>
</body>
{% endblock %}