{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
    <p><label>Название песни: </label> <input type="text" name="track_name" value="" required />
    <p><label>Исполнитель</label> <input type="text" name="author" value="" required />

    <p><input type="submit" value="Найти" />
    <hr align=left width="300px">
    <p><a href="{{url_for('profile')}}">Профиль</a>
    </form>
{% endblock %}