{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<body class="find_body">
    <div class="head_btns">
        <a class="my-btn" href="/profile" role="button">Профиль</a>
        <a class="my-btn" href="/dictionary" role="button">Мои слова</a>
        <a class="my-btn" href="/study" role="button">Выучить новое</a>
        <a class="my-btn" href="/rating" role="button">Рейтинг</a>

        <a class="my-btn" href="{{url_for('logout')}}" role="button" style="margin-left: 18%;">Выйти</a>
    </div>
    <form action="" method="post" class="login">
        <label>Название песни: </label> <input type="text" name="track_name" value="" required />
        <label>Исполнитель</label> <input type="text" name="author" value="" required />
        <hr>
        <input type="submit" value="Найти" style="width: 100%;"/>
    </form>
</body>
{% endblock %}